.choosing-page {
    background: #354057;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.search-bar-container {
    margin-top: 5rem;
}

.campsite-list-container {
    background-color: #efe1e8;
    border-radius: 8px;
    margin-top: 20px;
    /* height: 78vh; */
    min-height: 75vh;
    /* overflow-y: scroll; */
    width: 80vw;
    margin-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

