.landing {
    background-image: url("../../assets/images/landing-img/img-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: beige; */
    /* color: white; */
    display: grid;
    /* justify-content: center; */
    /* align-content: center; */
    height: 85vh;
    font-family: "rubik", Arial, Helvetica, sans-serif;
    position: relative;
}

.main-container {
  position: absolute;
  margin-top: 180px;
  /* align-self: center; */
  justify-self: center;
  display: flex;
  flex-direction: column;
  /* background-color: #20479a; */
  align-items: center;
  /* margin-top: 0rem; */
}
 
.search-bar-container {
  /* background-color: rgb(212, 61, 61); */
  margin-top: 50px;
  display: flex;
}

.landing h1 {
   color: #1F2532;
   font-size: 35px;
   font-weight: 400;
}

.promo-bar {
  position: relative;
  background-color: white;
  width: 60rem;
  height: 7rem;
  margin: 0 auto;
  margin-top: -3.5rem;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: space-evenly;
  gap: 100px;

}

.promo-bar img {
  width: 120px;
  height: 100%;
}

.bar-item-container {
  /* background-color: #EE002E; */
  display: flex;
  align-items: center;
}

.bar-item-container h4,
.bar-item-container p {
  /* background-color: bisque; */
  text-align: left;
  margin: 0;
}

.text-container {
  /* background-color: aliceblue; */
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.intro-container {
  display: flex;
  grid-template-columns: 50% 50%;
}

.left-side {
  background-color: #1F2532;
  width: 100vw;
  height: 42rem;
  margin-top: -3.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-content {
  margin-top: 5rem
}

.left-content > h2 {
  color: white;
  width: 25rem;
  font-size: 30px;
  line-height: 2.5rem;
}

.left-content > p {
  color: white;
  width: 25rem;
  font-size: larger;
  line-height: 2rem;
  margin-top: 45px;
}

.left-content > button {
  height: 50px;
  width: 120px;
  font-size: larger;
  background-color: red;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  border-style: none;
  margin-top: 40px;
}

.right-side {
  background-color: #dcd5d9;
  width: 100vw;
  height: 42rem;
  margin-top: -3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  /* background-color: #7d5569; */
  display: grid;
  width: 45rem;
  margin-top: 5rem;
}

.img-container > div > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.img-container > div {
  margin: 15px;
}

.main-img {
  grid-column: 2/6;
}

.sidebar {
  grid-column: 6/8;
}

.twin {
  grid-column: 2/5;
  grid-row: 3/4;
}

.twin:last-of-type {
  grid-column: 5/8;
}

.search-btn {
  background-color: #EE002E;
  color: white;
  font-size: larger;
  font-weight: 500;
  border-style: none;
  /* height: 3.5rem; */
  width: 16%;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

