.landing-container p,
.landing-container h1,
.landing-container h2,
.landing-container h3,
.landing-container h4,
.landing-container h5
{
  font-family: "rubik", Arial, Helvetica, sans-serif;
}

.main {
    background-image: url("../../assets/images/landing-img/img-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
}

.main-container {
  /* background-color: #af3b52; */
  margin-top: 14rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.main-container h1 {
   color: #1F2532;
   font-size: 35px;
   font-weight: 400;
   margin-bottom: 25px;
}

.promo-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.promo-bar {
  width: 75vw;
}

.promo-bar img {
  width: 100px;
  /* height: 100%; */
}

.bar-item-container {
  /* background-color: aqua; */
  display: flex; 
  /* margin: 2rem; */
}

.bar-item-container h4,
.bar-item-container p {
  text-align: left;
  margin: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.intro-container {
  display: flex;
  grid-template-columns: 50% 50%;
  z-index: 1;
}

.left-side {
  background-color: #1F2532;
  width: 100vw;
  height: 45rem;
  margin-top: -3.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.left-content {
  margin-top: 6.5rem
}

.left-content > h2 {
  color: white;
  width: 25rem;
  font-size: 30px;
  line-height: 2.5rem;
}

.left-content > p {
  color: white;
  width: 25rem;
  font-size: larger;
  line-height: 2rem;
  margin-top: 45px;
}

.left-content > button {
  height: 50px;
  width: 120px;
  font-size: larger;
  background-color: #af3b52;
  color: white;
  font-weight: 500;
  border-radius: 6px;
  border-style: none;
  margin-top: 40px;
}

.right-side {
  background-color: #dcd5d9;
  width: 100vw;
  height: 45rem;
  margin-top: -3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  /* background-color: #7d5569; */
  display: grid;
  width: 40rem;
  margin-top: 5rem;
}

.img-container > div > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.img-container > div {
  margin: 15px;
}

.main-img {
  grid-column: 2/6;
}

.sidebar {
  grid-column: 6/8;
}

.twin {
  grid-column: 2/5;
  grid-row: 3/4;
}

.twin:last-of-type {
  grid-column: 5/8;
}
