.site-container {
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    width: 50rem;
}

.site-info {
    background-color: beige;
}

.site-container img {
 height: 15rem;
 width: 20rem;
}



