.nav-links {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #1F2532;
    z-index: 999;
    font-family: "rubik", Arial, Helvetica, sans-serif;
}

.nav-links a {
    margin: 3rem;
    color: white;
    text-decoration-line: none;
    font-size: larger;
}