#dropdown-basic {
    width: 100%;
    color: #7f8083;
    background-color: #efe1e8;
    border-style: none;
    text-align: start;
    border-radius: 6px;
    background-size: 10px;
    background-image: url("../../../assets/images/dropdown-icon.png");
    background-repeat: no-repeat;
    background-position:  right 15px center;
}

