.search-bar {
    width: 50rem;
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 10px;
    padding: 8px;
    border-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-btn {
    background-color: #EE002E;
    color: white;
    font-size: large;
    font-weight: 500;
    border-style: none;
    width: 16%;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
  }

.equipments-container {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    flex: 0.8;
}

.regions-container {
    background-color: #FFFFFF;
    height: 100%;
    width: 100%;
    flex: 0.8;
}

.check-in {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

#date-picker {
    height: 2.25rem;
}

.check-out {
    background-color: #404092;
    height: 100%;
    width: 100%;
}

